include includes/head.pug
include includes/header.pug

body
    div(class="d-flex justify-content-center")
        h1 Some useful info

    div(class='d-flex justify-content-center')
        div(class='list-group w-50')
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') NODE_ENV
                p(class='mb-1') #{info.NODE_ENV}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') PORT
                p(class='mb-1') #{info.PORT}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') BACKEND_URL
                p(class='mb-1') #{info.BACKEND_URL}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') FRONTEND_URL
                p(class='mb-1') #{info.FRONTEND_URL}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') DATABASE
                p(class='mb-1') #{info.DATABASE}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') SESSION_KEY
                p(class='mb-1') #{info.SESSION_KEY}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') SESSION_TIME
                p(class='mb-1') #{info.SESSION_TIME}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') MONGOATLAS_URL
                p(class='mb-1') #{info.MONGOATLAS_URL}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') SENT_MAIL
                p(class='mb-1') #{info.SENT_MAIL}
            div(class='list-group-item')
                div(class='d-flex w-100 justify-content-between')
                    h5(class='mb-1') RECIEVE_MAIL
                p(class='mb-1') #{info.RECIEVE_MAIL}
